/* You can add global styles to this file, and also import other style files */
body{
    background-image: url("/assets/img/money_saver_background.png");
    background-size: 100%;
    background-repeat:no-repeat;
    font-family: 'Montserrat', sans-serif;
}